DOORLOCK_ADMIN_ID=admin
DOORLOCK_ADMIN_PW=admin1234
DOORLOCK_RECOVERY_CODE=doorlock-reset
DOORLOCK_SECRET_KEY=change-this-secret-key
RASPBERRY_PI_IP=127.0.0.1
RASPBERRY_PI_PORT=5001
ANTI_SPOOF_DIR=./Silent-Face-Anti-Spoofing
